html,
body {
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
a{
  text-decoration: none;
}
input:focus,
textarea:focus{
  outline: none;
}
textarea{
  resize: vertical;
}
.container{
  width: $w-container;
  margin: 0 auto;
  box-sizing: border-box;
}
.with-padding{
  padding-left: 15px;
}
.fullwidth-bg-block{
  @include bg-img();
  width: 100%;
}
.page-ttl{
  color: $white;

  &__container{
	position: relative;
	height: 100%;
  }

  &__back{
  	color: $black;
	font: 15px/48px "OpenSans";
	position: absolute;
	top: 13px;
	margin-left: 17px;
  }

  &__h1{
	position: absolute;
	bottom: 26px;
	left: 15px;

	h1{
	  font: 35px/48px "OpenSans";
	  font-weight: bold;
	  margin: 0;
	  padding: 0;
	}
  }

  &__date{
	color: $white;
	font: 15px/25px "OpenSansSemiBold";
	margin-top: 16px;
  }
}
.page-wrpper{
  font: 16px/28px "OpenSans";
  padding: 13px 0 35px;
  color: $c-font-text;

  p{
	margin-bottom: 28px;
  }
}
.infull-right-content{
  width: 445px;
  float: right;
  color: $c-font-main;

  &__ttl{
	font: 30px/40px "OpenSansSemiBold";
	margin-bottom: 39px;
  }
  &__text{
	font:15px/30px "OpenSans";
	margin-bottom: 68px;
  }
}
.ttl-1{
  font: 30px/40px "OpenSansSemiBold";
  color: $c-font-main;
}
.grid-item{
  //float: left;
}
.shadow-bl{
  margin-bottom: 40px;
}

.with-right-sidebar{
  display: flex;
  justify-content: space-between;
}
.left-col{
  width: 630px;
  flex: 0 0 auto;
}
.right-col{
  width: 305px;
  flex: 0 0 auto;
}
.right-col-inner{
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(38, 97, 188, 0.2);
}