//colors
$black: #000;
$white: #fff;

$c-font-text: #131f32;
$c-font-gr: #a5b0c0;
$c-font-bg: #f6f9fc;
$c-font-main: #3f516c;
$c-blue: #2661bc;
$c-green: #27ac2c;
$c-green2: #149319;
$c-border: #e4e7ec;
$c-font-dark: #0f3063;
$c-font-pg: #87909f;
$c-completed: #00a60c;
$c-rejected: #eb0e0e;
$c-btn-disabled: #c1c1c1;
$c-btn-hover: #184ea3;
$c-error: #df0024;

$w-container: 980px;
$w-container-2: 965px;
$w-container-3: 960px;