script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")
script.
    ymaps.ready(init);
    function init () {
        var map = new ymaps.Map("map", {
            center: [64.54703955733194,40.52166399999999],
            zoom: 17
        });
        var placemark = new ymaps.Placemark([64.54703955733194,40.52166399999999], {
            balloonContent: '163000 Архангельская обл., г.Архангельск, ул.Попова, 17',
        }, {
            iconImageHref: 'images/balloon.png',
            iconImageSize: [66, 85],
            iconImageOffset: [-30, -70]
        });
        map.geoObjects.add(placemark);
    }