- var nav = [{url: '/about.html', name: 'О компании'}, {url: '/news.html', name: 'Новости'}, {url: '/job.html', name: 'Вакансии'}, {url: '/clients.html', name: 'Потребителям'}, {url: '/procurement.html', name: 'Закупки'}, {url: '/tenders.html', name: 'Раскрытие информации'}, {url: '/contacts.html', name: 'Контакты'}];

mixin navItem(url, name, current)
    li.header-menu__items
        a.header-menu__links(class=name==current ? 'header-menu__links_active' : '', href=url, title=name)= name