footer.footer
    .container
        .footer-wrapper
            .footer-row
                .footer-contacts
                    .footer-contacts-ttl ООО “Энергосети АОЭК”
                    .footer-contacts-addr
                        | 163000, г. Архангельск, ул. Попова, 17<br>
                        a(href="#") Смотреть на карте
                    .footer-contacts-tel
                        span Телефон:
                        |
                        | 8 (8182) 20 47 75<br>
                        span Email:
                        |
                        |
                        a(href="mailto:info@aoek.ru") info@aoek.ru
                .footer-menu-wrapper
                    ul.footer-menu-col
                        li
                            a.footer-menu-col__link(href="#") О компании
                        li
                            a.footer-menu-col__link(href="#") Новости
                        li
                            a.footer-menu-col__link(href="#") Вакансии
                    ul.footer-menu-col
                        li
                            a.footer-menu-col__link(href="#") Потребителям
                        li
                            a.footer-menu-col__link(href="#") Раскрытие информации
                        li
                            a.footer-menu-col__link(href="#") Закупки

            .footer-copyright © 2017 Энергосети АОЭК