.procurement-page{
  padding-top: 56px;
  padding-bottom: 23px;
}
.procurement-item{
  margin-bottom: 70px;
}
.procurement-archive-menu{
  margin-top: 116px;
}
.procurement-detail-page{
  padding-top: 13px;
  padding-bottom: 62px;

  &__text{
	margin-bottom: 40px;
  }
}
.files-download{
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(38, 97, 188, 0.2);
}
.files-download{
  &__head{
	border-bottom: 1px solid $c-border;
	padding: 13px 25px;
  }
  &__body{
	padding: 37px 25px 35px 25px;
  }
  &__menu{
	display: flex;
  }
  &__menu-item{
	margin-right: 50px;
  }
  &__docs-list{
	display: flex;
	flex-wrap: wrap;
  }
  &__doc{
	width: 50%;
	flex: 0 0 auto;
	margin-bottom: 26px;
	padding-right: 60px;
	box-sizing: border-box;

	&:nth-child(even){
	  padding-right: 0px;
	  padding-left: 42px;
	}
  }
  &__doc-ttl{
	font: 14px/22px "OpenSans";
	margin-bottom: 5px;
  }
  &__doc-size{
	font-size: 15px;
	line-height: 25px;
	font-family: "OpenSans";
	color: $c-font-main;
	opacity: .7;
	margin-left: 30px;
  }
}