extends core/_template

append sharedVars
    - var activeMenu = 'О компании';

block title
    title О компании

block content
    //workarea
    .workarea
        //.fullwidth-bg-block
        .fullwidth-bg-block.page-ttl(style="background-image:url('images/index-main-img.jpg'); height:280px;")
            .container.page-ttl__container
                .page-ttl__h1
                    h1 О компании
        //end .fullwidth-bg-block

        .page-wrpper
            .container.with-padding
                .about-bl1
                    p Общество с ограниченной ответственностью «Энергосети Архангельская областная энергетическая компания» создано 28 октября 2016 года в соответствии с Федеральным Законом № 14-ФЗ «Об обществах с ограниченной ответственностью» и Гражданским кодексом Российской Федерации.
                    p Полное фирменное наименование Общества на русском языке - Общество с ограниченной ответственностью «Энергосети Архангельская областная энергетическая компания». Сокращенное фирменное наименование Общества - ООО «Энергосети АОЭК».
                    p Место нахождения Общества - Город Архангельск. Место нахождения Общества определяется местом его государственной регистрации на территории Российской Федерации.
                    p Основной задачей ООО «Энергосети АОЭК» является организация надежной и бесперебойной доставки по распределительным сетям качественной электрической энергии потребителям Архангельской области

            //.fullwidth-bg-block
            .fullwidth-bg-block(style="background-image:url('images/bg1.jpg'); height:480px;")
                .container
                    .infull-right-content.about-bl2
                        .infull-right-content__ttl Охват
                        .infull-right-content__text Общество осуществляет свою деятельность в Котласском, Ленском, Верхнетоемском, Красноборском, Вилегодском, Устьянском, Вельском, Плесецком, Коношском, Онежском, Приморском районах Архангельской области, городах Архангельске и Северодвинске.

            //end .fullwidth-bg-block

            .container.with-padding
                .about-bl3
                    p Эксплуатирует арендованное у муниципальных образований электросетевое оборудование, приводя его в надлежащий вид, тем самым выступает перед потребителями гарантом качества и надежности, обеспечивая бесперебойность поставки электроэнергии, обеспечивает передачу и распределение электроэнергии на территории Архангельской области.
                    p В ООО «Энергосети АОЭК» три района эксплуатации – Архангельский, Котласский, Мезенский. Работу районов эксплуатации планирует и организует аппарат управления Общества.

                .about-bl4
                    .about-bl4__ttl
                        .ttl-1 Наше оборудование
                    .about-bl4__content(data-masonry='{ "columnWidth": 200, "itemSelector": ".grid-item" }')
                        .grid-item еуые1
                        .grid-item еуые1
                        .grid-item еуые1
                        .grid-item еуые1


    //end workarea