extends core/_template

append sharedVars
    - var activeMenu = 'О компании';

block title
    title О компании

block content
    //workarea
    .workarea
        //.fullwidth-bg-block
        .fullwidth-bg-block.page-ttl(style="background-image:url('images/index-main-img.jpg'); height:280px;")
            .container.page-ttl__container
                .page-ttl__h1
                    h1 О компании
        //end .fullwidth-bg-block

        .page-wrpper
            .container.with-padding
                .about-bl1
                    p Общество с ограниченной ответственностью «Энергосети Архангельская областная энергетическая компания» создано 28 октября 2016 года в соответствии с Федеральным Законом № 14-ФЗ «Об обществах с ограниченной ответственностью» и Гражданским кодексом Российской Федерации.
                    p Полное фирменное наименование Общества на русском языке - Общество с ограниченной ответственностью «Энергосети Архангельская областная энергетическая компания». Сокращенное фирменное наименование Общества - ООО «Энергосети АОЭК».
                    p Место нахождения Общества - Город Архангельск. Место нахождения Общества определяется местом его государственной регистрации на территории Российской Федерации.
                    p Основной задачей ООО «Энергосети АОЭК» является организация надежной и бесперебойной доставки по распределительным сетям качественной электрической энергии потребителям Архангельской области

            //.fullwidth-bg-block
            .fullwidth-bg-block(style="background-image:url('images/bg1.jpg'); height:480px;")
                .container
                    .infull-right-content.about-bl2
                        .infull-right-content__ttl Охват
                        .infull-right-content__text Общество осуществляет свою деятельность в Котласском, Ленском, Верхнетоемском, Красноборском, Вилегодском, Устьянском, Вельском, Плесецком, Коношском, Онежском, Приморском районах Архангельской области, городах Архангельске и Северодвинске.

            //end .fullwidth-bg-block

            .container.with-padding
                .about-bl3
                    p Эксплуатирует арендованное у муниципальных образований электросетевое оборудование, приводя его в надлежащий вид, тем самым выступает перед потребителями гарантом качества и надежности, обеспечивая бесперебойность поставки электроэнергии, обеспечивает передачу и распределение электроэнергии на территории Архангельской области.
                    p В ООО «Энергосети АОЭК» три района эксплуатации – Архангельский, Котласский, Мезенский. Работу районов эксплуатации планирует и организует аппарат управления Общества.

                .about-bl4
                    .about-bl4__ttl
                        .ttl-1 Наше оборудование

                    .about-bl4__content
                        .shadow-bl.js-show
                            .shadow-bl__inner
                                .shadow-bl__ttl
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Протяженность ВЛЭП (6-20 кВ)
                                .shadow-bl__list
                                    .shadow-bl__item
                                        .shadow-bl__litem с металлическими опорами
                                        .shadow-bl__ritem 5,21 км
                                    .shadow-bl__item
                                        .shadow-bl__litem с деревянными опорами с ж/б приставками
                                        .shadow-bl__ritem 140,05 км
                                    .shadow-bl__item
                                        .shadow-bl__litem с деревянными опорами
                                        .shadow-bl__ritem 424,09 км

                        .shadow-bl.js-show
                            .shadow-bl__inner
                                .shadow-bl__ttl
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Мачтовые ТП
                                        .shadow-bl__ttl-ritem 183 ед.
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Закрытые ТП с одним тр-ром и двухсторонним питанием на высокой стороне
                                        .shadow-bl__ttl-ritem 15 ед.
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Закрытые ТП с двумя тр-рами и двухсторонним питанием на высокой стороне
                                        .shadow-bl__ttl-ritem 20 ед.

                        .shadow-bl.js-show
                            .shadow-bl__inner
                                .shadow-bl__ttl
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Протяженность ВЛЭП (до 1 кВ)
                                .shadow-bl__list
                                    .shadow-bl__item
                                        .shadow-bl__litem с металлическими опорами
                                        .shadow-bl__ritem 0,00 км
                                    .shadow-bl__item
                                        .shadow-bl__litem с деревянными опорами с ж/б приставками
                                        .shadow-bl__ritem 139,66 км
                                    .shadow-bl__item
                                        .shadow-bl__litem с деревянными опорами
                                        .shadow-bl__ritem 374,26 км

                        .shadow-bl.js-show
                            .shadow-bl__inner
                                .shadow-bl__ttl
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Релейная защита и автоматика
                                .shadow-bl__list
                                    .shadow-bl__item
                                        .shadow-bl__litem масляный выключатель
                                        .shadow-bl__ritem 28 х 3фазы
                                    .shadow-bl__item
                                        .shadow-bl__litem выключатель нагрузки
                                        .shadow-bl__ritem 206 ед.
                                    .shadow-bl__item
                                        .shadow-bl__litem воздушный выключатель
                                        .shadow-bl__ritem 0 ед.
                                    .shadow-bl__item
                                        .shadow-bl__litem отделитель с короткозамыкателем
                                        .shadow-bl__ritem 0 ед.

                        .shadow-bl.js-show
                            .shadow-bl__inner
                                .shadow-bl__ttl
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Протяженность КЛЭП (6-10 кВ)
                                        .shadow-bl__ttl-ritem 7,26 км
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Протяженность КЛЭП (до 1 кВ)
                                        .shadow-bl__ttl-ritem 7,06 км

                        .shadow-bl.js-show
                            .shadow-bl__inner
                                .shadow-bl__ttl
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Количество электросчетчиков
                                .shadow-bl__list
                                    .shadow-bl__item
                                        .shadow-bl__litem однофазных
                                        .shadow-bl__ritem 10 751 ед.
                                    .shadow-bl__item
                                        .shadow-bl__litem трехфазных
                                        .shadow-bl__ritem 2 148 ед.

                                .shadow-bl__ttl
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Количество прочих абонентов
                                        .shadow-bl__ttl-ritem 1 411 чел.

                        .shadow-bl.js-show
                            .shadow-bl__inner
                                .shadow-bl__ttl
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Количество абонентов бытового сектора
                                        .shadow-bl__ttl-ritem 11836 чел.
                                .shadow-bl__list
                                    .shadow-bl__item
                                        .shadow-bl__litem в одноэтажных застройках
                                        .shadow-bl__ritem 11 631 чел.
                                    .shadow-bl__item
                                        .shadow-bl__litem в многоэтажных домах
                                        .shadow-bl__ritem 205 чел.

                                .shadow-bl__ttl
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Количество прочих абонентов
                                        .shadow-bl__ttl-ritem 1 411 чел.

                        .shadow-bl.js-show
                            .shadow-bl__inner
                                .shadow-bl__ttl
                                    .shadow-bl__ttl-item
                                        .shadow-bl__ttl-litem Количество условных единиц
                                        .shadow-bl__ttl-ritem 3 318,76 УЕ



    //end workarea