extends core/_template

append sharedVars
    - var activeMenu = 'Вакансии';

block title
    title Вакансии

block content
    //workarea
    .workarea
        //.fullwidth-bg-block
        .fullwidth-bg-block.page-ttl(style="background-image:url('images/index-main-img.jpg'); height:280px;")
            .container.page-ttl__container
                .page-ttl__h1
                    h1 Вакансии
        //end .fullwidth-bg-block
        //.page-wrpper
        .page-wrpper
            //.container
            .container
                //.job-list
                .job-list
                    .job-item
                        .job-item__ttl Начальник района эксплуатации № 3 (Каменка)
                        .job-item__text
                            p <span class="num">1.</span> Организация эксплуатации оборудования. Контроль исполнения договоров на выполнение ремонтных, аварийно-восстановительных работ, работ на оперативное и техническое обслуживание.
                            p <span class="num">2.</span> Работа по сбытовой деятельности – проверка документы по передаче электроэнергии по Мезенскому филиалу Архоблэнерго. Организация работы по уменьшению потерь электроэнергии, организация работ с потребителями. Выстроить отношения со сбытовой компанией.
                            div <span class="num">3.</span> Работа с муниципалами, юридическими и физическими лицами по:
                                ul.list-style1
                                    li заключению/пролангации договоров аренды, субаренды;
                                    li заключению/пролангации договоров на передачу электроэнергии, оплате по данным договорам.
                            p <span class="num">4.</span> Заключение договоров технологического присоединения, не допускать, ведение<br>реестра договоров на ТП.
                        .job-item__tel Телефон Отдела кадров: 8 (8182) 47-47-47

                    .job-item
                        .job-item__ttl Начальник района эксплуатации № 3 (Каменка)
                        .job-item__text
                            p <span class="num">1.</span> Организация эксплуатации оборудования. Контроль исполнения договоров на выполнение ремонтных, аварийно-восстановительных работ, работ на оперативное и техническое обслуживание.
                            p <span class="num">2.</span> Работа по сбытовой деятельности – проверка документы по передаче электроэнергии по Мезенскому филиалу Архоблэнерго. Организация работы по уменьшению потерь электроэнергии, организация работ с потребителями. Выстроить отношения со сбытовой компанией.
                            div <span class="num">3.</span> Работа с муниципалами, юридическими и физическими лицами по:
                                ul.list-style1
                                    li заключению/пролангации договоров аренды, субаренды;
                                    li заключению/пролангации договоров на передачу электроэнергии, оплате по данным договорам.
                            p <span class="num">4.</span> Заключение договоров технологического присоединения, не допускать, ведение<br>реестра договоров на ТП.
                        .job-item__tel Телефон Отдела кадров: 8 (8182) 47-47-47
                //end .job-list
            //end .container
        //end .page-wrpper

    //end workarea