extends core/_template

append sharedVars
    - var activeMenu = '';

block title
    title Оформление заявки

block content
    //workarea
    .workarea
        //.offer-page
        .offer-page
            //.container-lk
            .container-lk
                //.lk-block
                .lk-block
                    .req-block
                        .req-block__head
                            .req-block__inner
                                a.req-block__back(href="#") Назад
                                .req-block__btn
                                    a.btn-del(href="#")
                                .req-block__ttl.req-block__ttl_offer Оформление заявки
                    //.reg-stage-wrapper
                    .reg-stage-wrapper
                        //.reg-stage
                        .reg-stage
                            .reg-stage__item.reg-stage__item_active Заявитель
                            .reg-stage__item Объект
                            .reg-stage__item Характеристики
                            .reg-stage__item Расчет
                            .reg-stage__item Документы
                            .reg-stage__item Дополнения
                        //end .reg-stage
                    //end .reg-stage-wrapper
                    //.offer-bl1
                    .offer-bl1
                        //.offer
                        .offer
                            .offer__ttl Сведения о заявителе
                            form.offer__form
                                .offer__form-bl
                                    .form-row
                                        .form-row__label Фамилия
                                        .form-row__field
                                            input.input.input_sm(type="text")
                                    .form-row
                                        .form-row__label Имя
                                        .form-row__field
                                            input.input.input_sm(type="text")
                                    .form-row
                                        .form-row__label Отчество
                                        .form-row__field
                                            input.input.input_sm(type="text")
                                .offer__form-bl
                                    .offer__form-bl-ttl Паспортные данные
                                    .form-row
                                        .form-row__label Серия / номер
                                        .form-row__field
                                            input.input.input_sm(type="text")
                                    .form-row
                                        .form-row__label Кем выдан
                                        .form-row__field
                                            textarea.textarea.textarea_w
                                    .form-row
                                        .form-row__label Дата выдачи
                                        .form-row__field
                                            .date-select
                                                input.input.input_sm.input_date.datepicker-here(type="text")
                                                .date-select__button
                                    .form-row
                                        .form-row__label Адрес регистрации
                                        .form-row__field
                                            textarea.textarea.textarea_w
                                    .form-row
                                        .form-row__label Фактический адрес проживания
                                        .form-row__field
                                            textarea.textarea.textarea_w
                                .offer__submit-wrapper
                                    .offer__submit
                                        input.submit(type="submit" value="Сохранить")

                        //end .offer
                    //end .offer-bl1
                //end .lk-block

            //end .container-lk

        //end .offer-page
    //end workarea